body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.quiz-container {
    position: relative;
    width: 300px;
    text-align: center;
}

.card {
    position: absolute;
    top: -600px; /* Adjust this value to move the card higher or lower */
    width: 100%;
    transition: transform 1s ease-in-out;
    transform: translateX(100%);
}

    .card img {
        width: 100%;
        height: auto;
    }

.question {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, bottom 1s ease-in-out;
}

input[type="text"] {
    margin-top: 20px;
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
}
